/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color:lightgreen;
    color: green
}
.cabecalho {
    background-color:cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:midnightblue;
}
.tituloPrincipal {
    color: midnightblue;
    font-weight: bold;
    font-size: 32px;
}
.subtitulo {
    color: midnightblue;
}
.conteudo {
    color: green;
}

.conteudo p {
    color: #e4005a;
    size: 42px;
}
.cabecalho p:nth-of-type(3){
    color: purple;
    text-decoration: underline;
}

@media (width < 480px){
    .container {
        background-color:lightblue;
    }
}